/* body {
    background-color: blue;
} */

/* padding: adds spaces to all sides of the content. Doesn't bpadd background image or color.
   margin: Adds a margin around the whole block
   border: Adds a border along all sides
   padding and border increases size
 */

body {
    margin: 0px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2b3f3d;

}

h4 {
    margin-top: 3px;
    font-family: 'Cedarville Cursive', cursive;
    color: rgb(156, 156, 156);
    font-size: 25px;

}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


.text {
    position: relative;
    top: 120px;
    padding-bottom: 60px;
    padding-top: 10px;
}

.cs {
    font-style: italic;
}

/* Taking the clouds out of the flow so that the mountain can be centred and their positioning can be managed independently. */
.topcontainer {
    background-color: #c0f7f2;
    margin: 0;
    padding: 40px;
    padding-bottom: 0px;
    position: relative
}

.middlecontainer {
    padding: 20px;
}

.bottomcontainer {
    background-color: #c0f7f2;
    margin: 0;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}

.profile {
    padding: 20px;

}

.contact-me {
    padding: 20px;

}

.bottom-cloud {
    position: absolute;
    left: 350px;
    top: 260px;

}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 60px;
}

.mountain {
    padding-top: 35px;
}

.myimage {
    height: 200px;
    width: 200px;
    border-radius: 100%;

}

.artimage {
    height: 200px;
    width: 200px;
}

.binaryimage {
    height: 200px;
    width: 200px;
}

.BUTTON_MOO {
    background: #56b6ae;
    background-image: -webkit-linear-gradient(top, #56b6ae, #0c867c);
    background-image: -moz-linear-gradient(top, #56b6ae, #0c867c);
    background-image: -ms-linear-gradient(top, #56b6ae, #0c867c);
    background-image: -o-linear-gradient(top, #56b6ae, #0c867c);
    background-image: -webkit-gradient(to bottom, #56b6ae, #0c867c);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    padding: 9px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

.BUTTON_MOO:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-link {
    padding-inline: 10px;
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer-link:hover {
    color: rgb(135, 151, 149);
}

.footer {
    font-size: small;
    color: black;
}
