1. Create the snake using three squares.
2. Initially position the 3 squares one after the other.
3. For the snake to move. The last square should follow the second last and so on.
4. The snake should move forward unless any other command is given.
5. Should take input from keyboard and turn accordingly. (Backward movement not allowed)
6. Game should get over if the snake touches its tail or collides with the wall.
7. The turtle object is 20 * 20 in size and distances are measured from the centre of the turtle.
8. Score should appear at the top
9. The snake should increase in length as score increases.
10. Food should appear in random places.(Additional functionalities: Random color, random shape)
11. Maintaining a track of the high score.
12. As soon as snake hits tail or wall. Game restarts. Score reset.
13. (Additional feature: Ask the user to press a certain key to start )
14. (Additional feature: Add dangerous objects.)
